In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data can be saved in a variety of formats

In [3]:
#CSV
#Store data as plain text
#Each row is a line and colums are seperated by ","

#xlsx

#Parquet
#A custom binary format designed for efficient reading and writing of data stored in columns.
#Very common in “big data” systems like Hadoop or Spark


#Feather
#Feather is a custom binary format designed for efficient reading and writing of data stored in columns.

#SQL
#? SQL is a language used to interact with relational databases… more info

In [4]:
#Writing DataFrames
# a file of type FOO

In [10]:
np.random.seed(42)
df1 = pd.DataFrame(
    np.random.randint(0, 100, size=(10,4)),
    columns=["a","b","c","d"]
)

wanted_mb = 10
nrow = 100000
ncol = int((wanted_mb*1024**2/8)/nrow)
df2 = pd.DataFrame(
    np.random.rand(nrow, ncol),
    columns=["x{}".format(i) for i in range(ncol)]
)

print("df2.shape = ", df2.shape)
print("df2 is approximately {} MB".format(df2.memory_usage().sum() / (1024**2)))

df2.shape =  (100000, 13)
df2 is approximately 9.918338775634766 MB

In [12]:
#df.to_csv
print(df1.to_csv())

,a,b,c,d
0,51,92,14,71
1,60,20,82,86
2,74,74,87,99
3,23,2,21,52
4,1,87,29,37
5,1,63,59,20
6,32,75,57,21
7,88,48,90,58
8,41,91,59,79
9,14,61,61,46

In [13]:
df1.to_csv("df1.csv")

In [23]:
import os
os.path.isfile("df1.csv")

True

In [15]:
%%time 
# Because of %% time at the top, Jupyter will report the total time to run all code in the cell
df2.to_csv("df2.csv")

CPU times: user 1.37 s, sys: 61.6 ms, total: 1.43 s
Wall time: 1.53 s

In [32]:
#df.to_excel
# we can choose both the name of the workbook (file) and the name of the sheet

In [33]:
# notice that index was specified in the first (0th -- why?) column of the file
df1_csv = pd.read_csv("df1.csv", index_col=0)
df1_csv.head()

    a   b   c   d
0  51  92  14  71
1  60  20  82  86
2  74  74  87  99
3  23   2  21  52
4   1  87  29  37

In [40]:
def try_remove(file):
    if os.path.isfile(file):
        os.remove(file)

for df in ["df1", "df2"]:
    for extension in ["csv", "feather", "xlsx"]:
        filename = df + "." + extension
        try_remove(filename)