In [6]:
# Understand how the index is used to align data
# Know how to set and reset the index
# Understand how to select subsets of data by slicing on index and columns
# Understand that for DataFrames, the column names also align data

In [7]:
import pandas as pd
import numpy as np

In [8]:
# The Index was the "row labels" for the data.

In [9]:
# Data alignment is intrinsic. The link between labels and data will not be broken unless done so explicitly by you.

In [10]:

df = pd.read_csv("wdi_data.csv")
df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      72 non-null     object
 1   year         72 non-null     int64
 2   GovExpend    72 non-null     float64
 3   Consumption  72 non-null     float64
 4   Exports      72 non-null     float64
 5   Imports      72 non-null     float64
 6   GDP          72 non-null     float64
dtypes: float64(5), int64(1), object(1)
memory usage: 4.1+ KB

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [11]:

df_small = df.head(5)
df_small

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [12]:
df_tiny = df.iloc[[0,3,2,4], :]
df_tiny

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [13]:
im_ex = df_small[["Imports", "Exports"]]
im_ex_copy = im_ex.copy()
im_ex_copy

    Imports   Exports
0  0.600031  0.582831
1  0.575775  0.576394
2  0.575793  0.568859
3  0.572344  0.550323
4  0.558636  0.518040

In [14]:
im_ex + im_ex_copy

    Imports   Exports
0  1.200063  1.165661
1  1.151550  1.152787
2  1.151585  1.137718
3  1.144688  1.100646
4  1.117272  1.036081

In [15]:
#elementwise

In [16]:
df_tiny

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [17]:
#For row labels that appear in both, they are not in the same position within each DataFrame. 
im_ex_tiny = df_tiny + im_ex
im_ex_tiny

   Consumption   Exports  GDP  GovExpend   Imports  country  year
0          NaN  1.165661  NaN        NaN  1.200063      NaN   NaN
1          NaN       NaN  NaN        NaN       NaN      NaN   NaN
2          NaN  1.137718  NaN        NaN  1.151585      NaN   NaN
3          NaN  1.100646  NaN        NaN  1.144688      NaN   NaN
4          NaN  1.036081  NaN        NaN  1.117272      NaN   NaN

In [18]:
#Automatic Alignment
#Pandas aligning the data

In [19]:
#df_tiny and im_ex would be in different sheets
# The index and column names would be the first column and row in each sheet. 
# We whould have a third sheed to hold the sum
# For each label in the first row and column of either the df_tiny sheet or the im_ex sheet, we would have to do a IFELSE to check if the label exists in the other hseet and then a VLOOKUP to extract the value.

In [20]:
im_ex_tiny.mean()

Consumption         NaN
Exports        1.110027
GDP                 NaN
GovExpend           NaN
Imports        1.153402
country             NaN
year                NaN
dtype: float64

In [21]:
im_ex_tiny.sum()

Consumption    0.000000
Exports        4.440106
GDP            0.000000
GovExpend      0.000000
Imports        4.613608
country        0.000000
year           0.000000
dtype: float64

In [22]:
#Setting the Index

In [23]:
# the df.set_index method allows us to use one or more of the DataFrame's columns as the index
# first, create the DataFrame
df_year = df.set_index(["year"])
df_year.head()

     country  GovExpend  Consumption   Exports   Imports       GDP
year
2017  Canada   0.372665     1.095475  0.582831  0.600031  1.868164
2016  Canada   0.364899     1.058426  0.576394  0.575775  1.814016
2015  Canada   0.358303     1.035208  0.568859  0.575793  1.794270
2014  Canada   0.353485     1.011988  0.550323  0.572344  1.782252
2013  Canada   0.351541     0.986400  0.518040  0.558636  1.732714

In [24]:
df_year.loc[2010]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2010          Canada   0.347332     0.921952  0.469949  0.500341   1.613543
2010         Germany   0.653386     1.915481  1.443735  1.266126   3.417095
2010  United Kingdom   0.521146     1.598563  0.690824  0.745065   2.452900
2010   United States   2.510143    10.185836  1.846280  2.360183  14.992053

In [25]:
# To compute the difference in the average of all our variables from one year to the next.
df_year.loc[2009].mean(numeric_only=True) - df_year.loc[2008].mean(numeric_only=True)

GovExpend      0.033317
Consumption   -0.042998
Exports       -0.121425
Imports       -0.140042
GDP           -0.182610
dtype: float64

In [26]:
#After computing .mean(), the row labels(index) were the former column names
# These clumn names were used to align data when we wanted to ask pandas to compute the difference.

In [27]:
df_year.loc[df_year["country"]=="United States","GDP"].loc[2010]

np.float64(14.992052727)

In [28]:
df_year.loc[df_year["country"].isin(["United Kingdom","Germany"]),"GDP"].loc[2010]

year
2010    3.417095
2010    2.452900
Name: GDP, dtype: float64

In [29]:
df_year.loc[2010]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2010          Canada   0.347332     0.921952  0.469949  0.500341   1.613543
2010         Germany   0.653386     1.915481  1.443735  1.266126   3.417095
2010  United Kingdom   0.521146     1.598563  0.690824  0.745065   2.452900
2010   United States   2.510143    10.185836  1.846280  2.360183  14.992053

In [30]:
# Problems: we will get data alignment only on the year, which may not be sufficient.

In [31]:
#NetExports as Exports - Imports

In [32]:
nx = df_year["Exports"] - df_year["Imports"]
nx.head(19)

year
2017   -0.017201
2016    0.000619
2015   -0.006934
2014   -0.022021
2013   -0.040596
2012   -0.041787
2011   -0.035878
2010   -0.030393
2009    0.000896
2008    0.004068
2007    0.032451
2006    0.053530
2005    0.072729
2004    0.091902
2003    0.097794
2002    0.121850
2001    0.122673
2000    0.118702
2017    0.264214
dtype: float64

In [33]:
#Suppose that we accidentally had a bug in our code that swapped the data for Canada and Germany's net exports in 2017.

In [34]:
ca17 = nx.iloc[[0]]
g17 = nx.iloc[[18]]
nx.iloc[[0]] = g17
nx.iloc[[18]] = ca17
nx.head(19)

year
2017    0.264214
2016    0.000619
2015   -0.006934
2014   -0.022021
2013   -0.040596
2012   -0.041787
2011   -0.035878
2010   -0.030393
2009    0.000896
2008    0.004068
2007    0.032451
2006    0.053530
2005    0.072729
2004    0.091902
2003    0.097794
2002    0.121850
2001    0.122673
2000    0.118702
2017   -0.017201
dtype: float64

In [35]:
nx.iloc[[0]]

year
2017    0.264214
dtype: float64

In [36]:
nx.iloc[0]

np.float64(0.26421440137339003)

In [37]:
#If we now add nx to the DataFrame and compute investment
df_year["NetExports"] = nx
df_year["Investment"] = df_year.eval("GDP - Consumption - GovExpend - NetExports")
df_year.head(19)

,country,GovExpend,Consumption,Exports,Imports,GDP,NetExports,Investment
year,,,,,,,,
2017,Canada,0.372665,1.095475,0.582831,0.600031,1.868164,0.264214,0.135811
2016,Canada,0.364899,1.058426,0.576394,0.575775,1.814016,0.000619,0.390072
2015,Canada,0.358303,1.035208,0.568859,0.575793,1.794270,-0.006934,0.407692
2014,Canada,0.353485,1.011988,0.550323,0.572344,1.782252,-0.022021,0.438800
2013,Canada,0.351541,0.986400,0.518040,0.558636,1.732714,-0.040596,0.435369
2012,Canada,0.354342,0.961226,0.505969,0.547756,1.693428,-0.041787,0.419647
2011,Canada,0.351887,0.943145,0.492349,0.528227,1.664240,-0.035878,0.405086
2010,Canada,0.347332,0.921952,0.469949,0.500341,1.613543,-0.030393,0.374652
2009,Canada,0.339686,0.890078,0.440692,0.439796,1.565291,0.000896,0.334631
2008,Canada,0.330766,0.889602,0.506350,0.502281,1.612862,0.004068,0.388425
2007,Canada,0.318777,0.864012,0.530453,0.498002,1.596876,0.032451,0.381636
2006,Canada,0.311382,0.827643,0.524461,0.470931,1.564608,0.053530,0.372053
2005,Canada,0.303043,0.794390,0.519950,0.447222,1.524608,0.072729,0.354447
2004,Canada,0.299854,0.764357,0.508657,0.416754,1.477317,0.091902,0.321203
2003,Canada,0.294335,0.741796,0.481993,0.384199,1.433089,0.097794,0.299164
2002,Canada,0.286094,0.721974,0.490465,0.368615,1.407725,0.121850,0.277806
2001,Canada,0.279767,0.694230,0.484696,0.362023,1.366590,0.122673,0.269921
2000,Canada,0.270553,0.677713,0.499526,0.380823,1.342805,0.118702,0.275837
2017,Germany,0.745579,2.112009,1.930563,1.666348,3.883870,-0.017201,1.043482

In [38]:
# Setting a Hierarchical Index
#Include multiple columns in the index
# Need more than one piece of information(column) to identify an observation
# Need Data-alignment by more than one column

In [39]:
wdi = df.set_index(["country","year"])
wdi.head(20)

              GovExpend  Consumption   Exports   Imports       GDP
country year
Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
        2016   0.364899     1.058426  0.576394  0.575775  1.814016
        2015   0.358303     1.035208  0.568859  0.575793  1.794270
        2014   0.353485     1.011988  0.550323  0.572344  1.782252
        2013   0.351541     0.986400  0.518040  0.558636  1.732714
        2012   0.354342     0.961226  0.505969  0.547756  1.693428
        2011   0.351887     0.943145  0.492349  0.528227  1.664240
        2010   0.347332     0.921952  0.469949  0.500341  1.613543
        2009   0.339686     0.890078  0.440692  0.439796  1.565291
        2008   0.330766     0.889602  0.506350  0.502281  1.612862
        2007   0.318777     0.864012  0.530453  0.498002  1.596876
        2006   0.311382     0.827643  0.524461  0.470931  1.564608
        2005   0.303043     0.794390  0.519950  0.447222  1.524608
        2004   0.299854     0.764357  0.508657  0.416754  1.477317
        2003   0.294335     0.741796  0.481993  0.384199  1.433089
        2002   0.286094     0.721974  0.490465  0.368615  1.407725
        2001   0.279767     0.694230  0.484696  0.362023  1.366590
        2000   0.270553     0.677713  0.499526  0.380823  1.342805
Germany 2017   0.745579     2.112009  1.930563  1.666348  3.883870
        2016   0.734014     2.075615  1.844949  1.589495  3.801859

In [40]:
#WHen a DataFrame's index has multiple levels, we (and the pandas documentation) refer to the DataFrame as having a hierarchical index

In [41]:
wdi.loc[("United States",2010),"GDP"]

np.float64(14.992052727)

In [42]:
wdi.loc[(["United Kingdom", "Germany"], 2010), "GDP"]

country         year
United Kingdom  2010    2.452900
Germany         2010    3.417095
Name: GDP, dtype: float64

In [43]:
# we can use wdi.loc to extract different slices of our national accounts data.

In [44]:
#Slicing rules
#pandas slicing reacts differently to lists and tuples

#list in row slicing will be an "or" operation
#tuple in row slicing will be used to denote a single hierarchial index and must include a value for each level.

In [45]:
wdi.loc["United States"]

      GovExpend  Consumption   Exports   Imports        GDP
year
2017   2.405743    12.019266  2.287071  3.069954  17.348627
2016   2.407981    11.722133  2.219937  2.936004  16.972348
2015   2.373130    11.409800  2.222228  2.881337  16.710459
2014   2.334071    11.000619  2.209555  2.732228  16.242526
2013   2.353381    10.687214  2.118639  2.600198  15.853796
2012   2.398873    10.534042  2.045509  2.560677  15.567038
2011   2.434378    10.378060  1.978083  2.493194  15.224555
2010   2.510143    10.185836  1.846280  2.360183  14.992053
2009   2.507390    10.010687  1.646432  2.086299  14.617299
2008   2.407771    10.137847  1.797347  2.400349  14.997756
2007   2.351987    10.159387  1.701096  2.455016  15.018268
2006   2.314957     9.938503  1.564920  2.395189  14.741688
2005   2.287022     9.643098  1.431205  2.246246  14.332500
2004   2.267999     9.311431  1.335978  2.108585  13.846058
2003   2.233519     8.974708  1.218199  1.892825  13.339312
2002   2.193188     8.698306  1.192180  1.804105  12.968263
2001   2.112038     8.480461  1.213253  1.740797  12.746262
2000   2.040500     8.272097  1.287739  1.790995  12.620268

In [46]:
wdi.loc[("United States", 2010)]

GovExpend       2.510143
Consumption    10.185836
Exports         1.846280
Imports         2.360183
GDP            14.992053
Name: (United States, 2010), dtype: float64

In [47]:
wdi.loc[["United States","Canada"]]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2017   2.405743    12.019266  2.287071  3.069954  17.348627
              2016   2.407981    11.722133  2.219937  2.936004  16.972348
              2015   2.373130    11.409800  2.222228  2.881337  16.710459
              2014   2.334071    11.000619  2.209555  2.732228  16.242526
              2013   2.353381    10.687214  2.118639  2.600198  15.853796
              2012   2.398873    10.534042  2.045509  2.560677  15.567038
              2011   2.434378    10.378060  1.978083  2.493194  15.224555
              2010   2.510143    10.185836  1.846280  2.360183  14.992053
              2009   2.507390    10.010687  1.646432  2.086299  14.617299
              2008   2.407771    10.137847  1.797347  2.400349  14.997756
              2007   2.351987    10.159387  1.701096  2.455016  15.018268
              2006   2.314957     9.938503  1.564920  2.395189  14.741688
              2005   2.287022     9.643098  1.431205  2.246246  14.332500
              2004   2.267999     9.311431  1.335978  2.108585  13.846058
              2003   2.233519     8.974708  1.218199  1.892825  13.339312
              2002   2.193188     8.698306  1.192180  1.804105  12.968263
              2001   2.112038     8.480461  1.213253  1.740797  12.746262
              2000   2.040500     8.272097  1.287739  1.790995  12.620268
Canada        2017   0.372665     1.095475  0.582831  0.600031   1.868164
              2016   0.364899     1.058426  0.576394  0.575775   1.814016
              2015   0.358303     1.035208  0.568859  0.575793   1.794270
              2014   0.353485     1.011988  0.550323  0.572344   1.782252
              2013   0.351541     0.986400  0.518040  0.558636   1.732714
              2012   0.354342     0.961226  0.505969  0.547756   1.693428
              2011   0.351887     0.943145  0.492349  0.528227   1.664240
              2010   0.347332     0.921952  0.469949  0.500341   1.613543
              2009   0.339686     0.890078  0.440692  0.439796   1.565291
              2008   0.330766     0.889602  0.506350  0.502281   1.612862
              2007   0.318777     0.864012  0.530453  0.498002   1.596876
              2006   0.311382     0.827643  0.524461  0.470931   1.564608
              2005   0.303043     0.794390  0.519950  0.447222   1.524608
              2004   0.299854     0.764357  0.508657  0.416754   1.477317
              2003   0.294335     0.741796  0.481993  0.384199   1.433089
              2002   0.286094     0.721974  0.490465  0.368615   1.407725
              2001   0.279767     0.694230  0.484696  0.362023   1.366590
              2000   0.270553     0.677713  0.499526  0.380823   1.342805

In [48]:
wdi.loc[(["United States", "Canada"],[2010, 2011]), :]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2010   2.510143    10.185836  1.846280  2.360183  14.992053
              2011   2.434378    10.378060  1.978083  2.493194  15.224555
Canada        2010   0.347332     0.921952  0.469949  0.500341   1.613543
              2011   0.351887     0.943145  0.492349  0.528227   1.664240

In [49]:
wdi.loc[[("United States", 2010), ("Canada", 2011)], :]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2010   2.510143    10.185836  1.846280  2.360183  14.992053
Canada        2011   0.351887     0.943145  0.492349  0.528227   1.664240

In [50]:
wdi.loc[[("United States",2010),("Canada",2009)], "GDP"]

country        year
United States  2010    14.992053
Canada         2009     1.565291
Name: GDP, dtype: float64

In [51]:
result1=df.loc[[2],["GDP","Consumption"]]

In [52]:
type(result1)

pandas.core.frame.DataFrame

In [53]:
#Alignment with MultiIndex

In [54]:
my_df=wdi.loc["United States"]
my_df

      GovExpend  Consumption   Exports   Imports        GDP
year
2017   2.405743    12.019266  2.287071  3.069954  17.348627
2016   2.407981    11.722133  2.219937  2.936004  16.972348
2015   2.373130    11.409800  2.222228  2.881337  16.710459
2014   2.334071    11.000619  2.209555  2.732228  16.242526
2013   2.353381    10.687214  2.118639  2.600198  15.853796
2012   2.398873    10.534042  2.045509  2.560677  15.567038
2011   2.434378    10.378060  1.978083  2.493194  15.224555
2010   2.510143    10.185836  1.846280  2.360183  14.992053
2009   2.507390    10.010687  1.646432  2.086299  14.617299
2008   2.407771    10.137847  1.797347  2.400349  14.997756
2007   2.351987    10.159387  1.701096  2.455016  15.018268
2006   2.314957     9.938503  1.564920  2.395189  14.741688
2005   2.287022     9.643098  1.431205  2.246246  14.332500
2004   2.267999     9.311431  1.335978  2.108585  13.846058
2003   2.233519     8.974708  1.218199  1.892825  13.339312
2002   2.193188     8.698306  1.192180  1.804105  12.968263
2001   2.112038     8.480461  1.213253  1.740797  12.746262
2000   2.040500     8.272097  1.287739  1.790995  12.620268

In [55]:
wdi/my_df

                    GovExpend  Consumption   Exports   Imports       GDP
country       year
Canada        2017   0.154906     0.091143  0.254837  0.195453  0.107684
              2016   0.151537     0.090293  0.259644  0.196108  0.106881
              2015   0.150983     0.090730  0.255986  0.199835  0.107374
              2014   0.151446     0.091994  0.249065  0.209479  0.109728
              2013   0.149377     0.092297  0.244516  0.214844  0.109293
...                       ...          ...       ...       ...       ...
United States 2004   1.000000     1.000000  1.000000  1.000000  1.000000
              2003   1.000000     1.000000  1.000000  1.000000  1.000000
              2002   1.000000     1.000000  1.000000  1.000000  1.000000
              2001   1.000000     1.000000  1.000000  1.000000  1.000000
              2000   1.000000     1.000000  1.000000  1.000000  1.000000

[72 rows x 5 columns]

In [56]:
wdi

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
Canada        2017   0.372665     1.095475  0.582831  0.600031   1.868164
              2016   0.364899     1.058426  0.576394  0.575775   1.814016
              2015   0.358303     1.035208  0.568859  0.575793   1.794270
              2014   0.353485     1.011988  0.550323  0.572344   1.782252
              2013   0.351541     0.986400  0.518040  0.558636   1.732714
...                       ...          ...       ...       ...        ...
United States 2004   2.267999     9.311431  1.335978  2.108585  13.846058
              2003   2.233519     8.974708  1.218199  1.892825  13.339312
              2002   2.193188     8.698306  1.192180  1.804105  12.968263
              2001   2.112038     8.480461  1.213253  1.740797  12.746262
              2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [57]:
my_df**wdi.head(40)

                     GovExpend  Consumption   Exports   Imports           GDP
country        year
Canada         2017   1.387005    15.239799  1.619568  1.960173    206.609857
               2016   1.378050    13.535178  1.583538  1.859184    170.126092
               2015   1.362946    12.430917  1.574976  1.839208    156.448520
               2014   1.349345    11.321428  1.546959  1.777615    143.777217
               2013   1.351031    10.348367  1.475403  1.705445    120.084711
               2012   1.363492     9.614905  1.436336  1.673705    104.451713
               2011   1.367618     9.085423  1.399122  1.620232     92.904656
               2010   1.376664     8.498144  1.333970  1.536739     78.940928
               2009   1.366502     7.771247  1.245745  1.381849     66.581929
               2008   1.337290     7.850393  1.345652  1.552404     78.843866
               2007   1.313424     7.412166  1.325534  1.564040     75.668684
               2006   1.298710     6.689987  1.264747  1.508839     67.346926
               2005   1.284915     6.051347  1.204917  1.436082     57.934629
               2004   1.278324     5.503949  1.158747  1.364661     48.540035
               2003   1.266834     5.092681  1.099805  1.277808     40.965285
               2002   1.251930     4.767026  1.090041  1.242973     36.866423
               2001   1.232653     4.410994  1.098224  1.222240     32.404503
               2000   1.212831     4.186783  1.134650  1.248488     30.096837
Germany        2017   1.924205   190.858677  4.938690  6.482333  65034.551938
               2016   1.906070   165.518328  4.354927  5.539831  47348.466433
               2015   1.840857   141.302614  4.219763  5.033086  35290.730319
               2014   1.788639   121.000087  3.886357  4.275093  26597.894148
               2013   1.782655   108.791202  3.412816  3.790344  19628.818689
               2012   1.791667   102.764589  3.159361  3.572417  17529.172816
               2011   1.798182    93.891573  2.904773  3.448321  15444.094760
               2010   1.824557    85.270369  2.423612  2.966171  10423.860112
               2009   1.809286    81.148152  1.874817  2.281987   6674.628425
               2008   1.733583    82.575243  2.368020  2.964436  12328.995297
               2007   1.678610    80.765778  2.151848  2.974826  11198.702159
               2006   1.650381    77.471897  1.805705  2.712786   7841.666899
               2005   1.630778    68.674733  1.523985  2.297901   5201.892283
               2004   1.618929    63.241923  1.375983  2.065004   4387.610647
               2003   1.610481    57.272848  1.215478  1.776497   3540.225150
               2002   1.589171    53.815723  1.185949  1.653090   3431.499451
               2001   1.546119    52.960418  1.197093  1.623362   3248.333872
               2000   1.512133    47.514039  1.249371  1.657096   2751.926379
United Kingdom 2017   1.619985    89.880525  2.041385  2.848160   3112.582858
               2016   1.622321    78.460641  1.918175  2.640460   2536.421455
               2015   1.603635    65.624860  1.906947  2.518381   2118.429378
               2014   1.578964    55.605640  1.847139  2.296864   1647.781440

In [58]:
my_result=wdi.loc[[("Canada",2000)],:]
my_result

              GovExpend  Consumption   Exports   Imports       GDP
country year
Canada  2000   0.270553     0.677713  0.499526  0.380823  1.342805

In [59]:
my_result**wdi

                    GovExpend  Consumption   Exports   Imports       GDP
country       year
Canada        2000   0.702092     0.768241  0.707004  0.692356  1.485582
              2001        NaN          NaN       NaN       NaN       NaN
              2002        NaN          NaN       NaN       NaN       NaN
              2003        NaN          NaN       NaN       NaN       NaN
              2004        NaN          NaN       NaN       NaN       NaN
...                       ...          ...       ...       ...       ...
United States 2013        NaN          NaN       NaN       NaN       NaN
              2014        NaN          NaN       NaN       NaN       NaN
              2015        NaN          NaN       NaN       NaN       NaN
              2016        NaN          NaN       NaN       NaN       NaN
              2017        NaN          NaN       NaN       NaN       NaN

[72 rows x 5 columns]

In [60]:
my_result**wdi.head(40)

                     GovExpend  Consumption   Exports   Imports       GDP
country        year
Canada         2000   0.702092     0.768241  0.707004  0.692356  1.485582
               2001        NaN          NaN       NaN       NaN       NaN
               2002        NaN          NaN       NaN       NaN       NaN
               2003        NaN          NaN       NaN       NaN       NaN
               2004        NaN          NaN       NaN       NaN       NaN
               2005        NaN          NaN       NaN       NaN       NaN
               2006        NaN          NaN       NaN       NaN       NaN
               2007        NaN          NaN       NaN       NaN       NaN
               2008        NaN          NaN       NaN       NaN       NaN
               2009        NaN          NaN       NaN       NaN       NaN
               2010        NaN          NaN       NaN       NaN       NaN
               2011        NaN          NaN       NaN       NaN       NaN
               2012        NaN          NaN       NaN       NaN       NaN
               2013        NaN          NaN       NaN       NaN       NaN
               2014        NaN          NaN       NaN       NaN       NaN
               2015        NaN          NaN       NaN       NaN       NaN
               2016        NaN          NaN       NaN       NaN       NaN
               2017        NaN          NaN       NaN       NaN       NaN
Germany        2000        NaN          NaN       NaN       NaN       NaN
               2001        NaN          NaN       NaN       NaN       NaN
               2002        NaN          NaN       NaN       NaN       NaN
               2003        NaN          NaN       NaN       NaN       NaN
               2004        NaN          NaN       NaN       NaN       NaN
               2005        NaN          NaN       NaN       NaN       NaN
               2006        NaN          NaN       NaN       NaN       NaN
               2007        NaN          NaN       NaN       NaN       NaN
               2008        NaN          NaN       NaN       NaN       NaN
               2009        NaN          NaN       NaN       NaN       NaN
               2010        NaN          NaN       NaN       NaN       NaN
               2011        NaN          NaN       NaN       NaN       NaN
               2012        NaN          NaN       NaN       NaN       NaN
               2013        NaN          NaN       NaN       NaN       NaN
               2014        NaN          NaN       NaN       NaN       NaN
               2015        NaN          NaN       NaN       NaN       NaN
               2016        NaN          NaN       NaN       NaN       NaN
               2017        NaN          NaN       NaN       NaN       NaN
United Kingdom 2014        NaN          NaN       NaN       NaN       NaN
               2015        NaN          NaN       NaN       NaN       NaN
               2016        NaN          NaN       NaN       NaN       NaN
               2017        NaN          NaN       NaN       NaN       NaN

In [61]:
wdi.loc[["United States", "Canada"]]

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
United States 2017   2.405743    12.019266  2.287071  3.069954  17.348627
              2016   2.407981    11.722133  2.219937  2.936004  16.972348
              2015   2.373130    11.409800  2.222228  2.881337  16.710459
              2014   2.334071    11.000619  2.209555  2.732228  16.242526
              2013   2.353381    10.687214  2.118639  2.600198  15.853796
              2012   2.398873    10.534042  2.045509  2.560677  15.567038
              2011   2.434378    10.378060  1.978083  2.493194  15.224555
              2010   2.510143    10.185836  1.846280  2.360183  14.992053
              2009   2.507390    10.010687  1.646432  2.086299  14.617299
              2008   2.407771    10.137847  1.797347  2.400349  14.997756
              2007   2.351987    10.159387  1.701096  2.455016  15.018268
              2006   2.314957     9.938503  1.564920  2.395189  14.741688
              2005   2.287022     9.643098  1.431205  2.246246  14.332500
              2004   2.267999     9.311431  1.335978  2.108585  13.846058
              2003   2.233519     8.974708  1.218199  1.892825  13.339312
              2002   2.193188     8.698306  1.192180  1.804105  12.968263
              2001   2.112038     8.480461  1.213253  1.740797  12.746262
              2000   2.040500     8.272097  1.287739  1.790995  12.620268
Canada        2017   0.372665     1.095475  0.582831  0.600031   1.868164
              2016   0.364899     1.058426  0.576394  0.575775   1.814016
              2015   0.358303     1.035208  0.568859  0.575793   1.794270
              2014   0.353485     1.011988  0.550323  0.572344   1.782252
              2013   0.351541     0.986400  0.518040  0.558636   1.732714
              2012   0.354342     0.961226  0.505969  0.547756   1.693428
              2011   0.351887     0.943145  0.492349  0.528227   1.664240
              2010   0.347332     0.921952  0.469949  0.500341   1.613543
              2009   0.339686     0.890078  0.440692  0.439796   1.565291
              2008   0.330766     0.889602  0.506350  0.502281   1.612862
              2007   0.318777     0.864012  0.530453  0.498002   1.596876
              2006   0.311382     0.827643  0.524461  0.470931   1.564608
              2005   0.303043     0.794390  0.519950  0.447222   1.524608
              2004   0.299854     0.764357  0.508657  0.416754   1.477317
              2003   0.294335     0.741796  0.481993  0.384199   1.433089
              2002   0.286094     0.721974  0.490465  0.368615   1.407725
              2001   0.279767     0.694230  0.484696  0.362023   1.366590
              2000   0.270553     0.677713  0.499526  0.380823   1.342805

In [62]:
wdi.loc[pd.IndexSlice[:,[2005,2007,2009]],:]

                     GovExpend  Consumption   Exports   Imports        GDP
country        year
Canada         2005   0.303043     0.794390  0.519950  0.447222   1.524608
Germany        2005   0.591184     1.866253  1.175200  1.028094   3.213777
United Kingdom 2005   0.490806     1.578914  0.640088  0.715951   2.403352
United States  2005   2.287022     9.643098  1.431205  2.246246  14.332500
Canada         2007   0.318777     0.864012  0.530453  0.498002   1.596876
Germany        2007   0.605624     1.894219  1.442436  1.213835   3.441356
United Kingdom 2007   0.504549     1.644789  0.710200  0.767699   2.527327
United States  2007   2.351987    10.159387  1.701096  2.455016  15.018268
Canada         2009   0.339686     0.890078  0.440692  0.439796   1.565291
Germany        2009   0.645023     1.908393  1.260525  1.121914   3.283144
United Kingdom 2009   0.519716     1.587152  0.653830  0.689011   2.411632
United States  2009   2.507390    10.010687  1.646432  2.086299  14.617299

In [63]:
wdi2 = df.set_index(["year", "country"])

In [64]:
wdi2

                    GovExpend  Consumption   Exports   Imports        GDP
year country
2017 Canada          0.372665     1.095475  0.582831  0.600031   1.868164
2016 Canada          0.364899     1.058426  0.576394  0.575775   1.814016
2015 Canada          0.358303     1.035208  0.568859  0.575793   1.794270
2014 Canada          0.353485     1.011988  0.550323  0.572344   1.782252
2013 Canada          0.351541     0.986400  0.518040  0.558636   1.732714
...                       ...          ...       ...       ...        ...
2004 United States   2.267999     9.311431  1.335978  2.108585  13.846058
2003 United States   2.233519     8.974708  1.218199  1.892825  13.339312
2002 United States   2.193188     8.698306  1.192180  1.804105  12.968263
2001 United States   2.112038     8.480461  1.213253  1.740797  12.746262
2000 United States   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [67]:
wdi2.loc[pd.IndexSlice[[2010,2009],["United States", "Canada"]], :]

                    GovExpend  Consumption   Exports   Imports        GDP
year country
2010 United States   2.510143    10.185836  1.846280  2.360183  14.992053
     Canada          0.347332     0.921952  0.469949  0.500341   1.613543
2009 United States   2.507390    10.010687  1.646432  2.086299  14.617299
     Canada          0.339686     0.890078  0.440692  0.439796   1.565291

In [68]:
wdi2.loc[pd.IndexSlice[[2011,2010,2009],["United States", "Canada"]], :]

                    GovExpend  Consumption   Exports   Imports        GDP
year country
2011 United States   2.434378    10.378060  1.978083  2.493194  15.224555
     Canada          0.351887     0.943145  0.492349  0.528227   1.664240
2010 United States   2.510143    10.185836  1.846280  2.360183  14.992053
     Canada          0.347332     0.921952  0.469949  0.500341   1.613543
2009 United States   2.507390    10.010687  1.646432  2.086299  14.617299
     Canada          0.339686     0.890078  0.440692  0.439796   1.565291

In [69]:
wdi2.loc[pd.IndexSlice[:,["United States", "Canada"]], :]

                    GovExpend  Consumption   Exports   Imports        GDP
year country
2017 United States   2.405743    12.019266  2.287071  3.069954  17.348627
2016 United States   2.407981    11.722133  2.219937  2.936004  16.972348
2015 United States   2.373130    11.409800  2.222228  2.881337  16.710459
2014 United States   2.334071    11.000619  2.209555  2.732228  16.242526
2013 United States   2.353381    10.687214  2.118639  2.600198  15.853796
2012 United States   2.398873    10.534042  2.045509  2.560677  15.567038
2011 United States   2.434378    10.378060  1.978083  2.493194  15.224555
2010 United States   2.510143    10.185836  1.846280  2.360183  14.992053
2009 United States   2.507390    10.010687  1.646432  2.086299  14.617299
2008 United States   2.407771    10.137847  1.797347  2.400349  14.997756
2007 United States   2.351987    10.159387  1.701096  2.455016  15.018268
2006 United States   2.314957     9.938503  1.564920  2.395189  14.741688
2005 United States   2.287022     9.643098  1.431205  2.246246  14.332500
2004 United States   2.267999     9.311431  1.335978  2.108585  13.846058
2003 United States   2.233519     8.974708  1.218199  1.892825  13.339312
2002 United States   2.193188     8.698306  1.192180  1.804105  12.968263
2001 United States   2.112038     8.480461  1.213253  1.740797  12.746262
2000 United States   2.040500     8.272097  1.287739  1.790995  12.620268
2017 Canada          0.372665     1.095475  0.582831  0.600031   1.868164
2016 Canada          0.364899     1.058426  0.576394  0.575775   1.814016
2015 Canada          0.358303     1.035208  0.568859  0.575793   1.794270
2014 Canada          0.353485     1.011988  0.550323  0.572344   1.782252
2013 Canada          0.351541     0.986400  0.518040  0.558636   1.732714
2012 Canada          0.354342     0.961226  0.505969  0.547756   1.693428
2011 Canada          0.351887     0.943145  0.492349  0.528227   1.664240
2010 Canada          0.347332     0.921952  0.469949  0.500341   1.613543
2009 Canada          0.339686     0.890078  0.440692  0.439796   1.565291
2008 Canada          0.330766     0.889602  0.506350  0.502281   1.612862
2007 Canada          0.318777     0.864012  0.530453  0.498002   1.596876
2006 Canada          0.311382     0.827643  0.524461  0.470931   1.564608
2005 Canada          0.303043     0.794390  0.519950  0.447222   1.524608
2004 Canada          0.299854     0.764357  0.508657  0.416754   1.477317
2003 Canada          0.294335     0.741796  0.481993  0.384199   1.433089
2002 Canada          0.286094     0.721974  0.490465  0.368615   1.407725
2001 Canada          0.279767     0.694230  0.484696  0.362023   1.366590
2000 Canada          0.270553     0.677713  0.499526  0.380823   1.342805

In [70]:
wdi

                    GovExpend  Consumption   Exports   Imports        GDP
country       year
Canada        2017   0.372665     1.095475  0.582831  0.600031   1.868164
              2016   0.364899     1.058426  0.576394  0.575775   1.814016
              2015   0.358303     1.035208  0.568859  0.575793   1.794270
              2014   0.353485     1.011988  0.550323  0.572344   1.782252
              2013   0.351541     0.986400  0.518040  0.558636   1.732714
...                       ...          ...       ...       ...        ...
United States 2004   2.267999     9.311431  1.335978  2.108585  13.846058
              2003   2.233519     8.974708  1.218199  1.892825  13.339312
              2002   2.193188     8.698306  1.192180  1.804105  12.968263
              2001   2.112038     8.480461  1.213253  1.740797  12.746262
              2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [71]:
wdiT = wdi.T
wdiT

country        Canada                                                    \
year             2017      2016      2015      2014      2013      2012
GovExpend    0.372665  0.364899  0.358303  0.353485  0.351541  0.354342
Consumption  1.095475  1.058426  1.035208  1.011988  0.986400  0.961226
Exports      0.582831  0.576394  0.568859  0.550323  0.518040  0.505969
Imports      0.600031  0.575775  0.575793  0.572344  0.558636  0.547756
GDP          1.868164  1.814016  1.794270  1.782252  1.732714  1.693428

country                                              ... United States  \
year             2011      2010      2009      2008  ...          2009
GovExpend    0.351887  0.347332  0.339686  0.330766  ...      2.507390
Consumption  0.943145  0.921952  0.890078  0.889602  ...     10.010687
Exports      0.492349  0.469949  0.440692  0.506350  ...      1.646432
Imports      0.528227  0.500341  0.439796  0.502281  ...      2.086299
GDP          1.664240  1.613543  1.565291  1.612862  ...     14.617299

country                                                                        \
year              2008       2007       2006       2005       2004       2003
GovExpend     2.407771   2.351987   2.314957   2.287022   2.267999   2.233519
Consumption  10.137847  10.159387   9.938503   9.643098   9.311431   8.974708
Exports       1.797347   1.701096   1.564920   1.431205   1.335978   1.218199
Imports       2.400349   2.455016   2.395189   2.246246   2.108585   1.892825
GDP          14.997756  15.018268  14.741688  14.332500  13.846058  13.339312

country
year              2002       2001       2000
GovExpend     2.193188   2.112038   2.040500
Consumption   8.698306   8.480461   8.272097
Exports       1.192180   1.213253   1.287739
Imports       1.804105   1.740797   1.790995
GDP          12.968263  12.746262  12.620268

[5 rows x 72 columns]

In [72]:
wdiT.loc[:,"United States"]

year,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
GovExpend,2.405743,2.407981,2.373130,2.334071,2.353381,2.398873,2.434378,2.510143,2.507390,2.407771,2.351987,2.314957,2.287022,2.267999,2.233519,2.193188,2.112038,2.040500
Consumption,12.019266,11.722133,11.409800,11.000619,10.687214,10.534042,10.378060,10.185836,10.010687,10.137847,10.159387,9.938503,9.643098,9.311431,8.974708,8.698306,8.480461,8.272097
Exports,2.287071,2.219937,2.222228,2.209555,2.118639,2.045509,1.978083,1.846280,1.646432,1.797347,1.701096,1.564920,1.431205,1.335978,1.218199,1.192180,1.213253,1.287739
Imports,3.069954,2.936004,2.881337,2.732228,2.600198,2.560677,2.493194,2.360183,2.086299,2.400349,2.455016,2.395189,2.246246,2.108585,1.892825,1.804105,1.740797,1.790995
GDP,17.348627,16.972348,16.710459,16.242526,15.853796,15.567038,15.224555,14.992053,14.617299,14.997756,15.018268,14.741688,14.332500,13.846058,13.339312,12.968263,12.746262,12.620268

In [73]:
wdiT.loc[:,["United States","Canada"]]

country     United States                                              \
year                 2017       2016       2015       2014       2013
GovExpend        2.405743   2.407981   2.373130   2.334071   2.353381
Consumption     12.019266  11.722133  11.409800  11.000619  10.687214
Exports          2.287071   2.219937   2.222228   2.209555   2.118639
Imports          3.069954   2.936004   2.881337   2.732228   2.600198
GDP             17.348627  16.972348  16.710459  16.242526  15.853796

country                                                             ...  \
year              2012       2011       2010       2009       2008  ...
GovExpend     2.398873   2.434378   2.510143   2.507390   2.407771  ...
Consumption  10.534042  10.378060  10.185836  10.010687  10.137847  ...
Exports       2.045509   1.978083   1.846280   1.646432   1.797347  ...
Imports       2.560677   2.493194   2.360183   2.086299   2.400349  ...
GDP          15.567038  15.224555  14.992053  14.617299  14.997756  ...

country        Canada                                                    \
year             2009      2008      2007      2006      2005      2004
GovExpend    0.339686  0.330766  0.318777  0.311382  0.303043  0.299854
Consumption  0.890078  0.889602  0.864012  0.827643  0.794390  0.764357
Exports      0.440692  0.506350  0.530453  0.524461  0.519950  0.508657
Imports      0.439796  0.502281  0.498002  0.470931  0.447222  0.416754
GDP          1.565291  1.612862  1.596876  1.564608  1.524608  1.477317

country
year             2003      2002      2001      2000
GovExpend    0.294335  0.286094  0.279767  0.270553
Consumption  0.741796  0.721974  0.694230  0.677713
Exports      0.481993  0.490465  0.484696  0.499526
Imports      0.384199  0.368615  0.362023  0.380823
GDP          1.433089  1.407725  1.366590  1.342805

[5 rows x 36 columns]

In [74]:
wdiT.loc[:,(["United States","Canada"], [2010, 2009])]

country     United States               Canada
year                 2010       2009      2010      2009
GovExpend        2.510143   2.507390  0.347332  0.339686
Consumption     10.185836  10.010687  0.921952  0.890078
Exports          1.846280   1.646432  0.469949  0.440692
Imports          2.360183   2.086299  0.500341  0.439796
GDP             14.992053  14.617299  1.613543  1.565291

In [82]:
wdiT.loc[:, pd.IndexSlice[:, [2010, 2012, 2014]]]

country,Canada,Germany,United Kingdom,United States,Canada,Germany,United Kingdom,United States,Canada,Germany,United Kingdom,United States
year,2010,2010,2010,2010,2012,2012,2012,2012,2014,2014,2014,2014
GovExpend,0.347332,0.653386,0.521146,2.510143,0.354342,0.666454,0.528194,2.398873,0.353485,0.685990,0.538888,2.334071
Consumption,0.921952,1.915481,1.598563,10.185836,0.961226,1.967390,1.612550,10.534042,1.011988,1.999953,1.675716,11.000619
Exports,0.469949,1.443735,0.690824,1.846280,0.505969,1.607455,0.745484,2.045509,0.550323,1.712270,0.774022,2.209555
Imports,0.500341,1.266126,0.745065,2.360183,0.547756,1.354122,0.772692,2.560677,0.572344,1.445409,0.827311,2.732228
GDP,1.613543,3.417095,2.452900,14.992053,1.693428,3.559587,2.529323,15.567038,1.782252,3.654924,2.657159,16.242526

In [83]:
#The df.reset_index method will move one or more level of the index back into the DataFrame as a normal column.
#With no additional arguments, it moves all levels out of the index and sets the index of the returned DataFrame to the default of range.

In [84]:
wdi.reset_index()

          country  year  GovExpend  Consumption   Exports   Imports        GDP
0          Canada  2017   0.372665     1.095475  0.582831  0.600031   1.868164
1          Canada  2016   0.364899     1.058426  0.576394  0.575775   1.814016
2          Canada  2015   0.358303     1.035208  0.568859  0.575793   1.794270
3          Canada  2014   0.353485     1.011988  0.550323  0.572344   1.782252
4          Canada  2013   0.351541     0.986400  0.518040  0.558636   1.732714
..            ...   ...        ...          ...       ...       ...        ...
67  United States  2004   2.267999     9.311431  1.335978  2.108585  13.846058
68  United States  2003   2.233519     8.974708  1.218199  1.892825  13.339312
69  United States  2002   2.193188     8.698306  1.192180  1.804105  12.968263
70  United States  2001   2.112038     8.480461  1.213253  1.740797  12.746262
71  United States  2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 7 columns]

In [86]:
wdi.shape[0]

72

In [88]:
wdi.reset_index("year")

               year  GovExpend  Consumption   Exports   Imports        GDP
country
Canada         2017   0.372665     1.095475  0.582831  0.600031   1.868164
Canada         2016   0.364899     1.058426  0.576394  0.575775   1.814016
Canada         2015   0.358303     1.035208  0.568859  0.575793   1.794270
Canada         2014   0.353485     1.011988  0.550323  0.572344   1.782252
Canada         2013   0.351541     0.986400  0.518040  0.558636   1.732714
...             ...        ...          ...       ...       ...        ...
United States  2004   2.267999     9.311431  1.335978  2.108585  13.846058
United States  2003   2.233519     8.974708  1.218199  1.892825  13.339312
United States  2002   2.193188     8.698306  1.192180  1.804105  12.968263
United States  2001   2.112038     8.480461  1.213253  1.740797  12.746262
United States  2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 6 columns]

In [90]:
wdi.reset_index("country", drop=True)

      GovExpend  Consumption   Exports   Imports        GDP
year
2017   0.372665     1.095475  0.582831  0.600031   1.868164
2016   0.364899     1.058426  0.576394  0.575775   1.814016
2015   0.358303     1.035208  0.568859  0.575793   1.794270
2014   0.353485     1.011988  0.550323  0.572344   1.782252
2013   0.351541     0.986400  0.518040  0.558636   1.732714
...         ...          ...       ...       ...        ...
2004   2.267999     9.311431  1.335978  2.108585  13.846058
2003   2.233519     8.974708  1.218199  1.892825  13.339312
2002   2.193188     8.698306  1.192180  1.804105  12.968263
2001   2.112038     8.480461  1.213253  1.740797  12.746262
2000   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [91]:
wdi.reset_index(drop=True)

    GovExpend  Consumption   Exports   Imports        GDP
0    0.372665     1.095475  0.582831  0.600031   1.868164
1    0.364899     1.058426  0.576394  0.575775   1.814016
2    0.358303     1.035208  0.568859  0.575793   1.794270
3    0.353485     1.011988  0.550323  0.572344   1.782252
4    0.351541     0.986400  0.518040  0.558636   1.732714
..        ...          ...       ...       ...        ...
67   2.267999     9.311431  1.335978  2.108585  13.846058
68   2.233519     8.974708  1.218199  1.892825  13.339312
69   2.193188     8.698306  1.192180  1.804105  12.968263
70   2.112038     8.480461  1.213253  1.740797  12.746262
71   2.040500     8.272097  1.287739  1.790995  12.620268

[72 rows x 5 columns]

In [92]:
wdi.reset_index?

Signature:
wdi.reset_index(
    level: 'IndexLabel | None' = None,
    *,
    drop: 'bool' = False,
    inplace: 'bool' = False,
    col_level: 'Hashable' = 0,
    col_fill: 'Hashable' = '',
    allow_duplicates: 'bool | lib.NoDefault' = <no_default>,
    names: 'Hashable | Sequence[Hashable] | None' = None,
) -> 'DataFrame | None'
Docstring:
Reset the index, or a level of it.

Reset the index of the DataFrame, and use the default one instead.
If the DataFrame has a MultiIndex, this method can remove one or more
levels.

Parameters
----------
level : int, str, tuple, or list, default None
    Only remove the given levels from the index. Removes all levels by
    default.
drop : bool, default False
    Do not try to insert index into dataframe columns. This resets
    the index to the default integer index.
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
col_level : int or str, default 0
    If the columns have multiple levels, determines which level the
    labels are inserted into. By default it is inserted into the first
    level.
col_fill : object, default ''
    If the columns have multiple levels, determines how the other
    levels are named. If None then the index name is repeated.
allow_duplicates : bool, optional, default lib.no_default
    Allow duplicate column labels to be created.

    .. versionadded:: 1.5.0

names : int, str or 1-dimensional list, default None
    Using the given string, rename the DataFrame column which contains the
    index data. If the DataFrame has a MultiIndex, this has to be a list or
    tuple with length equal to the number of levels.

    .. versionadded:: 1.5.0

Returns
-------
DataFrame or None
    DataFrame with the new index or None if ``inplace=True``.

See Also
--------
DataFrame.set_index : Opposite of reset_index.
DataFrame.reindex : Change to new indices or expand indices.
DataFrame.reindex_like : Change to same indices as other DataFrame.

Examples
--------
>>> df = pd.DataFrame([('bird', 389.0),
...                    ('bird', 24.0),
...                    ('mammal', 80.5),
...                    ('mammal', np.nan)],
...                   index=['falcon', 'parrot', 'lion', 'monkey'],
...                   columns=('class', 'max_speed'))
>>> df
         class  max_speed
falcon    bird      389.0
parrot    bird       24.0
lion    mammal       80.5
monkey  mammal        NaN

When we reset the index, the old index is added as a column, and a
new sequential index is used:

>>> df.reset_index()
    index   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN

We can use the `drop` parameter to avoid the old index being added as
a column:

>>> df.reset_index(drop=True)
    class  max_speed
0    bird      389.0
1    bird       24.0
2  mammal       80.5
3  mammal        NaN

You can also use `reset_index` with `MultiIndex`.

>>> index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
...                                    ('bird', 'parrot'),
...                                    ('mammal', 'lion'),
...                                    ('mammal', 'monkey')],
...                                   names=['class', 'name'])
>>> columns = pd.MultiIndex.from_tuples([('speed', 'max'),
...                                      ('species', 'type')])
>>> df = pd.DataFrame([(389.0, 'fly'),
...                    (24.0, 'fly'),
...                    (80.5, 'run'),
...                    (np.nan, 'jump')],
...                   index=index,
...                   columns=columns)
>>> df
               speed species
                 max    type
class  name
bird   falcon  389.0     fly
       parrot   24.0     fly
mammal lion     80.5     run
       monkey    NaN    jump

Using the `names` parameter, choose a name for the index column:

>>> df.reset_index(names=['classes', 'names'])
  classes   names  speed species
                     max    type
0    bird  falcon  389.0     fly
1    bird  parrot   24.0     fly
2  mammal    lion   80.5     run
3  mammal  monkey    NaN    jump

If the index has multiple levels, we can reset a subset of them:

>>> df.reset_index(level='class')
         class  speed species
                  max    type
name
falcon    bird  389.0     fly
parrot    bird   24.0     fly
lion    mammal   80.5     run
monkey  mammal    NaN    jump

If we are not dropping the index, by default, it is placed in the top
level. We can place it in another level:

>>> df.reset_index(level='class', col_level=1)
                speed species
         class    max    type
name
falcon    bird  389.0     fly
parrot    bird   24.0     fly
lion    mammal   80.5     run
monkey  mammal    NaN    jump

When the index is inserted under another level, we can specify under
which one with the parameter `col_fill`:

>>> df.reset_index(level='class', col_level=1, col_fill='species')
              species  speed species
                class    max    type
name
falcon           bird  389.0     fly
parrot           bird   24.0     fly
lion           mammal   80.5     run
monkey         mammal    NaN    jump

If we specify a nonexistent level for `col_fill`, it is created:

>>> df.reset_index(level='class', col_level=1, col_fill='genus')
                genus  speed species
                class    max    type
name
falcon           bird  389.0     fly
parrot           bird   24.0     fly
lion           mammal   80.5     run
monkey         mammal    NaN    jump
File:      /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/pandas/core/frame.py
Type:      method